{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1>Lista de Productos</h1>

    <a href="{{ url_for('productos.nuevo_producto') }}" class="btn btn-add">➕ Añadir Producto</a>

    <table>
        <thead>
            {% set nueva_direccion = 'desc' if direccion == 'asc' else 'asc' %}

            <tr>
                <th><a href="{{ url_for('productos.ver_productos', orden='id', direccion=nueva_direccion) }}">ID
                </a></th>
                <th><a href="{{ url_for('productos.ver_productos', orden='nombre', direccion=nueva_direccion) }}">Nombre
                    {% if orden == 'nombre' %}
                        {% if direccion == 'asc' %} ↑ {% else %} ↓ {% endif %}
                    {% endif %}
                </a></th>
                <th>Descripción</th>
                <th><a href="{{ url_for('productos.ver_productos', orden='precio', direccion=nueva_direccion) }}">Precio</a></th>
                <th>Stock</th>
                <th><a href="{{ url_for('productos.ver_productos', orden='proveedor', direccion=nueva_direccion) }}">Proveedor</a></th>
                <th>Acciones</th>
            </tr>


        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.proveedor.nombre }}</td>
                <td>
                    <a href="{{ url_for('productos.editar_producto', id=producto.id) }}" class="btn btn-edit">✏️ Editar</a>
                    <form method="POST" action="{{ url_for('productos.eliminar_producto', id=producto.id) }}" class="form-delete">
                        <button type="submit" onclick="return confirm('¿Eliminar este producto?');">🗑️ Eliminar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}