{% extends 'base.html' %}

{% block title %}Añadir Proveedor{% endblock %}

{% block header %}Añadir Proveedor{% endblock %}

{% block content %}
<h1>Nuevo Proveedor</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}

<form action="{{ url_for('proveedores.add_proveedor') }}" method="POST">

    <label for="nombre" class="form-label">Empresa:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" required>

    <label for="cif" class="form-label">CIF/DNI:</label>
    <input type="text" class="form-control" id="cif" name="cif" required>

    <label for="contacto" class="form-label">Contacto:</label>
    <input type="text" class="form-control" id="contacto" name="contacto">

    <label for="telefono" class="form-label">Teléfono:</label>
    <input type="text" class="form-control" id="telefono" name="telefono">

    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email">

    <label for="direccion" class="form-label">Dirección:</label>
    <input type="text" class="form-control" id="direccion" name="direccion">

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{{ url_for('proveedores.listar_proveedores') }}" class="btn btn-cancel">Cancelar</a>
</form>

{% endblock %}
