{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1>Lista de Proveedores</h1>
    <div class="botones-superiores">
        <a href="{{ url_for('proveedores.formulario_proveedor') }}" class="btn btn-add">➕ Añadir Proveedor</a>
        <a href="#form-busqueda-proveedor" class="btn btn-add btn-search">🔎 Buscar</a>
    </div>
    <div class="alerta-orden">
      📌 Puedes ordenar por <strong>ID</strong>, <strong>Nombre</strong> o <strong>CIF</strong>, y buscar por nombre o CIF.
    </div>


    <div class="tabla-responive">
        <table class="tabla-estilizada">
            {% set nueva_direccion = 'desc' if direccion == 'asc' else 'asc' %}
            <thead>
              <tr>
                <th class="col-id">
                  <a href="{{ url_for('proveedores.listar_proveedores', orden='id', direccion=nueva_direccion, nombre=nombre, pagina=pagina) }}">ID</a>
                </th>
                <th>
                  <a href="{{ url_for('proveedores.listar_proveedores', orden='nombre', direccion=nueva_direccion, nombre=nombre, pagina=pagina) }}">Nombre</a>
                </th>
                <th>Contacto</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>
                  <a href="{{ url_for('proveedores.listar_proveedores', orden='cif', direccion=nueva_direccion, nombre=nombre, pagina=pagina) }}">CIF</a>
                </th>
                <th>Dirección</th>
                <th class="col-acciones">Acciones</th>
              </tr>
            </thead>

            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td >{{ proveedor.id }}</td>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.contacto }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td class="col-email">{{ proveedor.email }}</td>
                    <td>{{ proveedor.cif }}</td>
                    <td>{{ proveedor.direccion }}</td>
                    <td>
                        <a href="{{ url_for('proveedores.editar_proveedor', id=proveedor.id) }}" class="btn-edit">✏️ Editar</a>
                        <form action="{{ url_for('proveedores.eliminar_proveedor', id=proveedor.id) }}" method="POST" class="form-delete">
                            <button type="submit" onclick="return confirm('¿Eliminar este proveedor?');" class="btn-delete">🗑️<span class="texto-btn"> Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="paginacion mt-3">
      {% if hay_anterior %}
        <a href="{{ url_for('proveedores.listar_proveedores', pagina=pagina-1, orden=orden, direccion=direccion, nombre=nombre) }}" class="btn-pagina">⬅️ Anterior</a>
      {% endif %}

      <span style="margin: 0 10px;">Página {{ pagina }}</span>

      {% if hay_siguiente %}
        <a href="{{ url_for('proveedores.listar_proveedores', pagina=pagina+1, orden=orden, direccion=direccion, nombre=nombre) }}" class="btn-pagina">Siguiente ➡️</a>
      {% endif %}
    </div>
    <form method="GET" action="{{ url_for('proveedores.listar_proveedores') }}" class="mt-3" id="form-busqueda-proveedor">
        <input type="text" name="nombre" placeholder="Buscar por nombre o CIF" value="{{ nombre or '' }}">
        <button type="submit" class="btn">Buscar</button>
    </form>
</div>
{% endblock %}
