{% extends "base.html" %}

{% block title %}Ventas{% endblock %}

{% block header %}Página de Ventas{% endblock %}

{% block content %}
<h1>Listado de Ventas</h1>
<a href="{{ url_for('ventas.nueva_venta') }}" class="btn btn-add">➕ Añadir Venta</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Descuento</th>
            <th>Total Final</th>
            <th>Pagado</th>
            <th>Acción</th> <!-- Nueva columna para ver el detalle de la venta -->
        </tr>
    </thead>
    <tbody>
        <a href="{{ url_for('ventas.graficas_ventas') }}" class="btn btn-add">Ver Gráficas</a>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta.id }}</td>
            <td>{{ venta.cliente.nombre }}</td>
            <td>{{ venta.fecha }}</td>
            <td>{{ venta.total }}</td>
            <td>{{ venta.descuento }}</td>
            <td>{{ venta.total_final }}</td>
            <td>
                {% if venta.pagado %}
                    <button onclick="cambiarEstadoPago({{ venta.id }}, false)">✅ Pagado</button>
                {% else %}
                    <button onclick="cambiarEstadoPago({{ venta.id }}, true)">❌ No Pagado</button>
                {% endif %}
            </td>
            <td>
                <!-- Enlace para ver los detalles de la venta -->
                <a href="{{ url_for('ventas.ver_detalle_venta', venta_id=venta.id) }}" class="btn">Ver Detalle</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="GET" action="{{ url_for('ventas.ventas') }}">
    <input type="text" name="cliente" placeholder="Buscar por cliente">
    <select name="pagado">
        <option value="">-- Estado de pago --</option>
        <option value="1">Pagado</option>
        <option value="0">No Pagado</option>
    </select>
    <button type="submit">Buscar</button>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<script>
    function cambiarEstadoPago(ventaId, nuevoEstado) {
        // Convertimos `nuevoEstado` a 1 o 0 para el servidor
        const estadoNumerico = nuevoEstado ? 1 : 0;

        fetch(`/cambiar_estado_pago/${ventaId}/${estadoNumerico}`, {
            method: "POST"
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();  // Recargar la página para ver el cambio
            } else {
                alert("Error al actualizar el estado de pago.");
            }
        });
    }
</script>
{% endblock %}
