body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #0056b3;
}

nav ul li a.active {
    background-color: #555;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
}

form {
    width: 50%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 20px; /* Espacio entre botones */
}

textarea {
    resize: vertical;
    height: 100px;
}

select {
    margin-bottom: 15px; /* Espaciado para el selector */
}

button, .btn {
    background: #007BFF;
    color: white;
    padding: 12px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px; /* Espacio entre botones */
}

button:hover, .btn:hover {
    background: #0056b3;
}

/* Botón de añadir */
.btn-add {
    background: #28a745;
}

.btn-add:hover {
    background: #218838;
}

/* Botón de eliminar */
.btn-delete {
    background: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
}

.btn-delete:hover {
    background: #c82333;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Alertas */
.alerta {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alerta ul {
    margin: 0;
    padding: 0;
}

.alerta li {
    list-style: none;
}

/* Footer */
footer {
    background: #333;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: auto;
}



