<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Añadir Producto</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
    <header>
        <h1>Añadir Producto</h1>
        <nav>
            <ul><li><a href="{{ url_for('index') }}">Volver a Inicio</a></li></ul>
        </nav>
    </header>
    <main>
        <form action="/add_product" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>

            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" step="0.01" required>

            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" required>

            <label for="proveedor_id">Proveedor ID:</label>
            <input type="number" id="proveedor_id" name="proveedor_id" required>

            <button type="submit">Añadir Producto</button>
        </form>
    </main>
</body>
</html>
